extends /layouts/template

block main
  .container.edit-profile
    form(action="")
      .row
        .col.p-0.profile-photo
          img.profile-photo-img.img-fluid.img-thumbnail(src="/dist/basic_profile.png")
          div.profile-photo-alert
            label(for="changeProfilePhoto") change profile photo
            input.form-control-file#changeProfilePhoto(type="file")
        .col
          .form-group.row
            label(for="email").col-4.col-form-label.text-center Email
            .col-8
              input.form-control-plaintext.text-center#email(type="text" readonly value=`${user.username ? user.username : 'no username'}`)