mixin socialLoginBtn(title, inputValue, oauthType)
  .form-group.rounded.social-login(class=title)
    span.title=title
    a(role="button" href=routes.makeRedirectPath(routes.auth, routes[oauthType])).btn.form-control=inputValue
