header.d-flex.justify-content-between
  div.pagename
    button.btn.btn-outline-dark=pageName
  div.userinfo
    if userName
      p.username=userName
    else
      button.btn.btn-outline-primary Login