.d-flex.justify-content-between.p-2
  div
    a.btn.btn-outline-light(role="button" href=`${routes.home}`) Home
  div.userinfo.d-lnline
    if userName
      p.username=userName
    else
      a.btn.btn-outline-primary(role="button" href=`${routes.makeRedirectPath(routes.auth, routes.logIn)}`) Login