include /mixins/socialLoginBtn
include /mixins/formGroup

.container.rounded.shadow.login-form.user
  h3.help Log in
  form(action=`${routes.makeRedirectPath(routes.auth, routes.logIn)}` method="POST")
    +formGroup({type:"text", errorType: ["email","not allow local login"], label:"Email", id:'email'})(placeholder="Email" autoFocus=true aria-describedby="email-help")
    +formGroup({type:"password", errorType:"password", label:"Password", id:'password'})(placeholder="password" aria-describedby="passwword-help")
    .form-group
      .form-row
        .col
          input(type="submit" value="Log in").btn.btn-primary.form-control
        .col
          a(role="button" href=`${routes.makeRedirectPath(routes.auth, routes.register)}`).btn.btn-primary.form-control Register
  .container
    +socialLoginBtn("n", "Naver", 'naver')
    +socialLoginBtn("g", "Google", 'google')
    +socialLoginBtn("f", "Facebook", 'facebook')




    
    //- .form-group.mb-5
    //-   label(for="email") Email
    //-   input(type="email" name="email" placeholder="Email" aria-describedby='email-error' autofocus).form-control.email
    //-   if errorType === 'email'
    //-     small#email-error.form-text.text-danger=message
    //-   if errorType === 'not allow local login'
    //-     small#email-error.form-text.text-danger=message
    //- .form-group.mb-5
    //-   label(for="password") password
    //-   input(type="password" name="password" placeholder="password" aria-describedby='password-error').form-control.password
    //-   if errorType === 'password'
    //-     small#password-error.form-text.text-danger=message