include /mixins/socialLoginBtn
include /mixins/formGroup

.login-form.container.mt-5.rounded.shadow
  h3.help.pt-5.pb-2 Log in
  form.p-4(action=`${routes.makeRedirectPath(routes.auth, routes.logIn)}` method="POST")
    +formGroup({type:"text", error: ["email","not allow local login"], label:"Email"})(id="email" placeholder="Email" autoFocus=true)
    +formGroup({type:"password", error:"password", label:"Password"})(id="password" placeholder="password")
    .form-row.mb-5
      .col
        input(type="submit" value="Log in").btn.btn-primary.form-control
      .col
        a(role="button" href=`${routes.makeRedirectPath(routes.auth, routes.register)}`).btn.btn-primary.form-control Register
    +socialLoginBtn("n", "Naver", 'naver')
    +socialLoginBtn("g", "Google", 'google')
    +socialLoginBtn("f", "Facebook", 'facebook')




    
    //- .form-group.mb-5
    //-   label(for="email") Email
    //-   input(type="email" name="email" placeholder="Email" aria-describedby='email-error' autofocus).form-control.email
    //-   if errorType === 'email'
    //-     small#email-error.form-text.text-danger=message
    //-   if errorType === 'not allow local login'
    //-     small#email-error.form-text.text-danger=message
    //- .form-group.mb-5
    //-   label(for="password") password
    //-   input(type="password" name="password" placeholder="password" aria-describedby='password-error').form-control.password
    //-   if errorType === 'password'
    //-     small#password-error.form-text.text-danger=message