doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title=siteName
    link(rel="stylesheet" href="/dist/css/main.css")
    block head
  body
    .d-flex.flex-column.wrap
      header.bg-dark
        .container
          include /partials/header
      main.flex-grow-1
        block main
  script(src="/dist/js/main.js")